@tailwind base;
@tailwind components;
@tailwind utilities;

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 10px;
} 

::-webkit-scrollbar-thumb {
    background: #353535; 
    border-radius: 10px;
}